@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

:root {
  --cultured-white: #f4f7f5;
  --jet-black: #312f2f;
  --silver-metallic: #a7a2a9;
  --light-green: #00bd9d;
  --persian-green: #1b998b;
  --ruby: #d81e5b;
}

html,
body {
  background: var(--cultured-white);
  color: var(--jet-black);
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

section {
  padding: 20px;
}

#welcome-section {
  background: var(--jet-black);
  color: var(--cultured-white);
}

h1,
h2,
.project-title {
  font-family: "Cutive Mono", monospace;
  text-align: center;
}

#projects h2 {
  color: var(--persian-green);
}

#projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile {
  max-width: 350px;
  margin: 20px 0px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px var(--silver-metallic);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform: scale(1);
  transition: all 0.1s;
}

.project-tile:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 5px 0px var(--silver-metallic);
}

.project-title {
  color: var(--ruby);
  padding: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.project-snapshot {
  max-width: 100%;
  height: auto;
  min-height: 250px;
  object-fit: cover;
  border-radius: 0px 0px 15px 15px;
}
