@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

:root {
  --cultured-white: #f4f7f5;
  --jet-black: #312f2f;
  --silver-metallic: #a7a2a9;
  --light-green: #00bd9d;
  --persian-green: #1b998b;
  --ruby: #d81e5b;
}

html,
body {
  background: #f4f7f5;
  background: var(--cultured-white);
  color: #312f2f;
  color: var(--jet-black);
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-family: "Cutive Mono", monospace;
}

h1 {
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #d81e5b;
  color: var(--ruby);
}

.ruby {
  color: #d81e5b;
  color: var(--ruby);
}

.green {
  color: #1b998b;
  color: var(--persian-green);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  background: #312f2f;
  background: var(--jet-black);
  z-index: 2;
}

header > .container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

#logo {
  padding-top: 20px;
  align-self: flex-start;
  color: #f4f7f5;
  color: var(--cultured-white);
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding-left: 15px;
  transform: scale(1);
  transition: all 0.1s;
}

nav ul li:hover {
  transform: scale(1.1);
}

#welcome-section {
  background: #312f2f;
  background: var(--jet-black);
  color: #f4f7f5;
  color: var(--cultured-white);
  height: 100vh;
  display: flex;
  align-items: center;
}

h1,
h2,
.project-title {
  text-align: center;
}

#projects h2 {
  color: #1b998b;
  color: var(--persian-green);
}

#projects-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-tile {
  max-width: 350px;
  margin: 20px 0px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px #a7a2a9;
  box-shadow: 0px 5px 5px 0px var(--silver-metallic);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform: scale(1);
  transition: all 0.1s;
}

.project-tile:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 5px 0px #a7a2a9;
  box-shadow: 0px 10px 5px 0px var(--silver-metallic);
}

.project-title {
  padding: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.project-cover {
  height: 250px;
}

.project-snapshot {
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 15px 15px;
}

@media (min-width: 540px) {
  header > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  nav ul li {
    padding-left: 20px;
  }
}
